:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.165 0.0017 17.33);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.165 0.0017 17.33);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.165 0.0017 17.33);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
}


.flex {
    display: flex;
}

.flex-col {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.input {
    background-color: var(--primary-foreground);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    padding: 3px 5px;
}